<% if @divisions.any? %>

<div class="well">
  <form class="" action="/employees" method="post">
    <label for="name">Name</label>
    <input type="text" id="name" name="name">
    <label for="dept_id">Department</label>
    <select id="dept_id" name="dept_id">
      <% @divisions.each() do |division|%>
        <option value="<%= division.id()%>"><%= division.division_name() %></option>
      <% end %>
    </select>
    <button type="submit" name="button">Submit</button>
  </form>

</div>

<% else %>
<div class="well">
  <h3>You have no departments yet.</h3>
</div>
<% end %>
